*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Poppins', sans-serif;
    
}


nav{
    height: 80px;
    width: 100%;
    box-shadow: 1px 2px 4px gray;
}
label{
    font-weight: bold;
    font-size:2.5rem;
    margin-left: 15px;
}
ul{
    float: right;
    list-style-type: none;
    margin-right:3%;

}
ul li{
    display: inline-block;
    margin: 25px 15px;
}
ul li a{
    font-weight: bold;
    color: gray;
    font-size: 1.2rem;
    padding:5px 10px;
    box-shadow: 1px 2px 4px gray;
    border-radius: 10px;
}

h1{
    font-weight:bold;
    font-size: 2.8rem;
    margin-bottom: 5%;
    color: gray;
}
h2{
    margin-bottom: 3%;
    color: gray;
    text-align: center;
}
h3{
    font-weight: bold;
    font-size: 1.2rem;
    
}
.orange-color{
    color: orange;
}
p{
    text-align: justify;
}
section{
    margin-top:50px;
    display: flex;
    margin-bottom: 100px;
    
}
#section-1{
    background-image: url(shapes/7.png);
    background-repeat: no-repeat;
}
#section-2{
    margin-left: 60px;
}

.title{
    width: 30%;
    margin-top:10%;
    margin-left: 12%;
}
#title{
    margin-left: 25%;
    margin-bottom:10%;
    margin-right: 10%;
    
}
.btn{
    margin-top: 10%;
}
.btn a{
    font-weight: bold;
    background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    color: white;
    border-radius: 20px;
   
}
.img img{
    width: 60%;
    margin-left:30%;
    margin-top:5%;
}
#img img{
    margin-top: 22%;
    width: 86%;
   
}
#card-header{
    width: 40%;
    margin: 0 auto;
    margin-bottom: 5%;
}
.card{
    width: 30%;
    margin-left: 5px;
    margin-right: 5%;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 3px 6px 12px gray;
    margin-bottom: 50px;
    transition: 1s;
}
.card-image img{
    width:100%;
    
}
footer{
    height: 100px;
    width: 100%;
    background: black;
}
footer > h3{
    text-align: center;
    color: gray;
    
  
}
footer > p{
    color: rgb(255, 255, 255);
    text-align: center;
}